
FORECAST FOR {{ city }}


<p>
	<a href="#!/"> Back to Search </a>
</p>
<hr />
Days <a href="#!/forecast/2" ng-class= "{'bg-primary' : days === '2'}">2</a> | <a href="#!/forecast/5" ng-class= "{'bg-primary' : days === '5'}">5</a> | <a href="#!/forecast/7" ng-class= "{'bg-primary' : days === '7'}">7</a>
<div ng-repeat="w in weatherResult.list" ng-controller='forecastController'>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ convertToDate(w.dt) | date: 'MMM d,y' }}</h3>
				</div>
				<div class="panel-body">
			<div ng-app="weatherApp">	
  <div class="wrap">
    <form> 
      <label for="first">Degree</label>
      <input id="first" type="radio" name="content" ng-model="content" value="first">
      <label for="other">Farenheit</label>
      <input id="other" type="radio" name="content" ng-model="content" value="other">
    </form>
    
    <div class="wrapper">
      <p ng-show="content == 'first'">{{ convertToDegreeCelsius(w.temp.day) }}</p>
      <p ng-show="content == 'other'">{{ convertToFarenheit(w.temp.day) }}</p>
    </div>
  </div>
</div>

				</div>
			</div>
		</div>
	</div>
</div>

